@import url('http://fonts.googleapis.com/css?family=Lato|Vollkorn|Cardo');

/*  All elements used in the TEI document are included. Empty rules are set for selectors that have no rules to set in common across the project  */



/* GDB to RV: I'm unclear about the following. Must have something to do with JS? */

.Tei {
	margin: 0;
	padding:0;
	padding-left: 0em;
	margin-right: 4em;
	font-family: Vollkorn, Cardo, Serif; 
	font-size: 12pt; 
	background-color: #fff; 
	color: #000;
	width: 45em; 
}


/*  == TEI DOCUMENT ==  */

tei-TEI {
	display: block;
}


/*  == TEI HEADER ==  */

tei-teiHeader {
  display: block; 
  margin: 1em 0 2em 0;
  padding: 1em 0 0 6em;
}


/* = fileDesc/titleStmt = */

tei-fileDesc {
  display: block;
}
tei-titleStmt {  
	display:block;
}
tei-titleStmt tei-title {
  	display: block;
	font-family: Lato;
	font-size: 125%;
}
tei-titleStmt tei-author {
	display: block;
	font-family: Lato;
	font-size: 95%;
	margin: .4em 0 2em 0;
}

tei-respStmt {
	display:none;
	}

tei-name { /* Empty Rule */ }


/* = fileDesc/editionStmt = */

tei-editionStmt {
  display: none;
}


/* = fileDesc/publicationStmt = */

tei-publicationStmt {
  display:none;
}


/* fileDesc/sourceDesc */

tei-sourceDesc {
	display:block;
}

tei-sourceDesc tei-bibl {
	font-family: Lato;
	font-size: 80%;	
	margin: 1em 0 0 0;
	}

tei-sourceDesc tei-bibl::before {
	content: '📖';
	padding-right:10px !important;
	}


tei-sourceDesc::after {             /*  fake expand button */
	display:block;
	float:right;
	padding-right:30px !important;
	font-weight:bold;
	font-size: 75%;
	content: '[ + ]';
	}

/* encodingDesc */

tei-encodingDesc {
	display: block;
	margin-left:-6em;       /*  fake style selector bar */
}

tei-projectDesc  {
	display:block;
	margin-top: 2em;     /*  fake style selector bar */
}

tei-projectDesc tei-p {
	display:none;
}

tei-projectDesc tei-list {      /*  fake selector bar */
	font-family: Lato;
	display:table-row;
	font-size:15px;
}

tei-projectDesc tei-list tei-item {     /*  fake selector bar */
	display:table-cell;
	text-align:center;
	width:160px;
	padding: .2em 1em .2em 1em;
	border: 1px solid #ccc;
	font-size:75%;
	background:#f8f8ff;
}

tei-charDecl {
	display:none; 
}
tei-glyph {  /* Empty Rule */ }
tei-glyphName  {  /* Empty Rule */ }
tei-char  {  /* Empty Rule */ }
tei-char tei-desc   {  /* Empty Rule */ }
tei-char tei-note  {  /* Empty Rule */ }
tei-gi  {  /* Empty Rule */ }


/* tagsDecl */

tei-tagsDecl {  
	display:none; 
}
tei-tagsDecl tei-rendition {  
	display:none;
}




/*  TEI TEXT: Layout of main divisions */


tei-text {
	display: block;
	line-height: 1.5;
	padding-left: 6em;
}

tei-body {
	display:block;   
}

tei-div  {  
	display:block;  
}

tei-p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}



/* textual DETAILS */

tei-am { /* Empty Rule */ }
tei-c { /* Empty Rule */ }
tei-choice { /* Empty Rule */ }
tei-corr { /* Empty Rule */	}
tei-ex { /* Empty Rule */	}
tei-expan { /* Empty Rule */	}
tei-facs { /* Empty Rule */	}
tei-g { /* Empty Rule */	}
tei-graphic { /* Empty Rule */	}
tei-label { /* Empty Rule */	}
tei-lb { /* Empty Rule */	}
tei-orig { /* Empty Rule */	}
tei-notatedMusic { /* Empty Rule */	}
tei-pb 	{ /* Empty Rule */	}

tei-ref {
  color: #5f0000;
  text-decoration: underline;
  cursor: pointer;
}

tei-reg { /* Empty Rule */	}

tei-seg {
  outline: 1px solid transparent;
}

tei-sic { /* Empty Rule */	}
tei-supplied { /* Empty Rule */	}
tei-term { /* Empty Rule */	}



/* TEI BACK */
/*not in use yet */

tei-back {      		
  display: block;
  margin-top: 35px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #292929;
  border-top: 2px solid #cdcdcd;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 16px;
  font-size: 12pt;
}





