@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');

/* unclear why this is not tei-tei? */
.Tei {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
  font-size: 12pt; 
  background-color: #fff; 
  color: #292929;
  width: 42em; 
}


/*  ALL ELEMENTS USED are included. */
/* Empty rules are set for selectors that have no common rule across the project  */

tei-am { /* Empty Rule */	}

tei-author {
	font-weight:bold;
	display: block;
	margin: .5em 0 1em 0;
}

	/*not used yet */
tei-back {
  display: block;
  margin-top: 35px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #292929;
  border-top: 2px solid #cdcdcd;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 16px;
  font-size: 12pt;
}

tei-body {
	display:block;   
	}

tei-char {  
	display:none;  
	}

tei-charDecl {  
	display:none;  
	}

tei-choice {  
	display:inline;  
	}

tei-corr { /* Empty Rule */	}

tei-desc  {  
	display:none;  
	}

tei-div  {  
	display:block;  
	}

tei-encodingDesc {
  display: none;
}

tei-ex { /* Empty Rule */	}
tei-expan { /* Empty Rule */	}
tei-g { /* Empty Rule */	}

tei-gi {  
	display:none;  
	}

tei-glyph {  
	display:none;  
	}

tei-glyphName {  
	display:none;  
	}

tei-graphic { /* Empty Rule */	}
tei-label { /* Empty Rule */	}
tei-lb { /* Empty Rule */	}

tei-name {  
	display:inline;  
	}

tei-notatedMusic { /* Empty Rule */	}

tei-note {  
	display:none;  
	}

tei-orig { /* Empty Rule */	}

tei-p {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: justify;
}

tei-pb 	{ /* Empty Rule */	}

tei-publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-ref {
  color: #5f0000;
  text-decoration: underline;
  cursor: pointer;
}

tei-reg { /* Empty Rule */	}

tei-rendition {  
	display:inline;
}

tei-resp {  
	display:inline;
}

tei-respStmt {
  display: block;
}

tei-seg {
  outline: 1px solid transparent;
}

tei-sic { /* Empty Rule */	}


tei-sourceDesc {
  display: none;
}

tei-supplied { /* Empty Rule */	}

tei-TEI {
  display: block;
}

tei-teiHeader {
  display: block; 
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid Grey;
}

tei-term { /* Empty Rule */	}

tei-text {
  display: block;
  line-height: 1.5;
  padding-left: 2em;
}

tei-titleStmt {  
	display:block;
}

tei-titleStmt > tei-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}



