@import url('http://fonts.googleapis.com/css?family=Lato|Vollkorn|Cardo');

/*  All elements used in the TEI are included. Empty rules are set for selectors that have no rules in common across the project  */

/* GDB to RV: I'm unclear about this is not tei-tei or .Tei - Must have something to do with JS? */

.Tei {
	margin: 0;
	padding:0;
	padding-left: 0em;
	margin-right: 4em;
	font-family: Vollkorn, Cardo, Serif; 
	font-size: 12pt; 
	background-color: #fff; 
	color: #000;
	width: 42em; 
}


/*  LAYOUT and divisions */

tei-TEI {
	display: block;
	
  }

tei-text {
  display: block;
  line-height: 1.5;
  padding-left: 6em;
}

tei-body {
	display:block;   
	}

tei-div  {  
	display:block;  
	}

tei-p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
	
}


tei-back {      /*not used yet */
  display: block;
  margin-top: 35px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #292929;
  border-top: 2px solid #cdcdcd;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 16px;
  font-size: 12pt;
}


/*  HEADER   */

tei-teiHeader {
  display: block; 
  margin: 1em 0 3em 0;
  padding: 1em 0 0 6em;
  border-bottom: 1px solid #d6d6d6;
}


/* fileDesc: titleStmt */

tei-fileDesc {
  display: block;
}
tei-titleStmt {  
	display:block;
}
tei-titleStmt > tei-title {
  	display: block;
	font-family: Lato;
	font-size: 125%;
}
tei-author {
	display: block;
	font-family: Lato;
	font-size: 95%;
	margin: .4em 0 2em 0;
}

tei-respStmt {
	display:none;
	}


/* fileDesc: editionStmt */

tei-editionStmt {
  display: block;
  font-family: Lato;
  font-size: 85%;
  padding-right: .1em;
}


/* fileDesc: publicationStmt */

tei-publicationStmt {
  display: none;
}

/* fileDesc: sourceDesc */

tei-sourceDesc {
	display:block;
	font-family: Lato;
	font-size: 70%;	
	margin: 2em 0 0 0;
	padding: .2em .1em .2em 0;
	}



/* encodingDesc */

tei-encodingDesc {
  display: none;
}
tei-charDecl {  
	display:none; 
}
tei-glyph {  
	display:inline;  
}
tei-glyphName {  
	display:inline;  
}
tei-char {  
	display:inline;
	font-weight:bold;
}
tei-desc  {  
	display:inline;  
}
tei-note {  
	display:none;  
}
tei-gi {  
	display:inline;  
}


/* tagsDecl */

tei-tagsDecl {  
	display:none; 
}
tei-tagsDecl tei-rendition {  
	display:none;
}



/* TEXT DETAILS */

tei-am { /* Empty Rule */ }
tei-c { /* Empty Rule */ }
tei-choice { /* Empty Rule */ }
tei-corr { /* Empty Rule */	}
tei-ex { /* Empty Rule */	}
tei-expan { /* Empty Rule */	}
tei-facs { /* Empty Rule */	}
tei-g { /* Empty Rule */	}
tei-graphic { /* Empty Rule */	}
tei-label { /* Empty Rule */	}
tei-lb { /* Empty Rule */	}
tei-orig { /* Empty Rule */	}
tei-notatedMusic { /* Empty Rule */	}
tei-pb 	{ /* Empty Rule */	}

tei-ref {
  color: #5f0000;
  text-decoration: underline;
  cursor: pointer;
}

tei-reg { /* Empty Rule */	}

tei-seg {
  outline: 1px solid transparent;
}

tei-sic { /* Empty Rule */	}
tei-supplied { /* Empty Rule */	}
tei-term { /* Empty Rule */	}








